[2016-06-08 19:19] logan-reynolds opened #6 "Investigate/fix problems with duplicate index on mdl_block_grade_me.id column"
Per comment from Moodle.org user Matteo Ricci, the following issue needs to be investigated and fixed to resolve problems with potential duplicate index on the column mdl_block_grade_me.id.  Noting issue was originally happening on Oracle DB, and will need to be tested there to accurately reproduce:

[2016-06-08 20:28] invaderb opened #7 "feature request - avoid simultaneous grading"
Some along the lines of this https://moodle.org/mod/forum/discuss.php?d=137700

or possibly adding a way to lock down the submission so no other teachers can access it while it's being graded.

[2016-06-13 14:38] 2shediac opened #8 "Grade-me Changes not saved"
This was reported by a user after updating to the latest version of Grade-me.

I have upgraded to the latest version and clicking on a submission now shows the correct submission as it used to.
However, this update issued a new problem, because for every assignment I try to grade through grade me, I get the following error:

The grade changes were NOT saved, as it was not possible to determine whi

[2016-06-15 11:01] KeironWalsh commented on #8
I'm having the same issue after upgrading to Moodle 2.9.6+ (Build: 20160520)

It's possible to grade the assignments by going directly to them, but as above using the Grade Me menu produces the error.

[2016-06-20 12:10] s-cenni opened #9 ""Collapse/Expand All" string is harcoded"
The string "Collapse/Expand All" is harcode so it can't be translated.

I think it would be useful to move the string into a variable and change the code in this way:

$expand = '<button class="btn btn-mini btn-primary" type="button" onclick="togglecollapseall();">**'.get_string('collapse_expand','block_grade_me').'**</button>';

Bye
Sara

[2016-07-19 16:11] sulaganathan opened #10 "Clicking on red check mark icon in Grade Me block takes teacher to incorrect student"
We have found that after the upgrade to Moodlerooms 3.0, when teachers click on the red check mark icon in Grade Me block for a submitted assignment they are taken to the incorrect student in the course. This is happening in all the courses we have checked. Can this issue be corrected?

Grade me version : 3.0.0.0 (2015102400)

Moodle version : 3.0

I believe someone has also reported the same issu

[2016-07-20 14:22] sulaganathan commented on #10
Can someone check and update us?

[2016-07-20 15:00] 2shediac commented on #10
Hi - we will be looking at the issue in the next week, and hope to have an
update available within a reasonable time period.

On Tue, Jul 19, 2016 at 12:11 PM, sulaganathan notifications@github.com
wrote:

[2016-07-29 09:58] sulaganathan commented on #10
Hi,

Did you get a chance to look into this? It would be great if you could give me ETA on fix/workaround, so that we can update our clients

[2016-08-03 17:16] jamesmcq commented on #10
@sulaganathan We're working on something that should resolve this - current release schedule for this would be Aug 15-16.

[2016-08-03 17:48] sulaganathan commented on #10
@jamesmcq thanks for the update..

[2016-08-15 13:21] KeironWalsh opened #12 "Many ungraded assignments not showing and some graded ones showing"
We have found the grade me menu to be a fantastic and invaluable module; however, having had the row num issue and upgrading to resolve it, we are now finding that some student's submitted assignments are not appearing, yet others that have already been graded are appearing in the menu as ungraded.

The "Grading Summary" on each assignment page correctly shows the number of participants, the numbe

[2016-08-17 14:02] sulaganathan commented on #10
@jamesmcq Has the 3.0.0.1 have the fixes for this issue?

[2016-08-19 13:44] sulaganathan commented on #10
@jamesmcq did you released any newer version on Aug 15-16? We are still waiting for fixes for this issue, Please let me know

[2016-08-22 12:40] naraesk opened #13 "no group filtering"
Hello, we are using version 3.0.0.1 of the plugin and it is really helpful. However, the plugin does not recognize any groups and shows all assignment.

Teacher is in Group A
Student is in Group B
Assignment is configured to use groups

Nevertheless, the teacher sees the assignments of Student within grademe. Or do we have to take something special into account when using groups?

Thanks in advanc

[2016-08-25 17:13] sulaganathan commented on #10
@jamesmcq  Please kindly look into this thread and update me at your convenience..

Thanks

[2016-08-25 17:16] jamesmcq commented on #10
@sulaganathan Sorry for the delay - we have built the release and I'll be putting in up here later today. Thanks!

[2016-08-25 17:17] sulaganathan commented on #10
@jamesmcq Thanks a lot for your update

[2016-08-26 03:49] jamesmcq commented on #10
@sulaganathan I have just pushed the updated MOODLE_27_STABLE to MOODLE_31_STABLE branches - please take a look at the new release and let me know if it solves your issue. Thanks!

[2016-08-26 03:49] #10 closed

[2016-08-26 03:49] jamesmcq commented on #9
This should now be resolved in the latest version for Moodle 2.7 - 3.1. Thanks!

[2016-08-26 03:49] #9 closed

[2016-08-26 03:50] jamesmcq commented on #8
This should now be resolved with the latest release for Moodle 2.7 - 3.1. Please open an issue if the issue persists. Thanks!

[2016-08-26 03:50] #8 closed

[2016-08-29 12:18] goose2001 commented on #12
Hi, I'm seeing this as well? Is it possible to rebuild the database? Thanks
Dan

[2016-10-11 20:17] drachels commented on #12
Probably part of the same problem - I've just noticed that using the new 3.1.0.1 version of Grade Me, that if I click on a checkmark in the Grade Me block to go grade a student, then exit the grading page without actually giving a grade, that student is no longer listed in the Grade Me block as needing to be graded. Is this a bug, or is it expected behavior?

[2016-10-12 14:52] mchurchward opened #14 "Postgres unit test failing"
The unit test, "test_get_content_multiple_user" fails when using Postgres. The test expects to find the regex "/\/mod\/quiz\/review.php\?attempt=4/", but the closest match in the content is "/mod/quiz/review.php?attempt=2".
I expect this is caused by an order assumption in the data set?

[2016-10-12 20:59] mchurchward commented on #14
More data for this issue. The content returned from a Postgres install for this test is (data stored in $content->text):

[code]

Note that this is not what is expected.
I think this may be caused by an assumption made with "$this->setUser($users[0]);". I believe this presumes a specific user is stored in the first element of the "$users" array, but since the order cannot be assumed, this may not

[2016-10-18 09:15] KeironWalsh commented on #12
Before we had the problem I described above, we did have the issue that you describe, drachels. Although it only did it if the tutor clicked on _Save_ without actually grading it.

There has been an upgrade to the block this morning, so I will see if it resolves the issue and post back here if it does.

Keiron

[2016-10-18 09:15] #12 closed

[2017-01-23 14:19] sulaganathan opened #17 "Assignment not showing in Grade me block"
hi,

We are using grade me block 3.1.0.2 on Moodle 3.1 and apparently the assignment which needs grading is not showing on grade me block. Upon further research I found that the query failed to choose the assignment on below condition

SELECT bgm.courseid, bgm.coursename, bgm.itemmodule, bgm.iteminstance, bgm.itemname, bgm.coursemoduleid, bgm.itemsortorder, asgn_sub.id submissionid, asgn_sub.useri

[2017-01-24 08:16] sulaganathan commented on #17
@jamesmcq Could you please check this

[2017-01-24 16:46] blakekidney commented on #17
We are experiencing the same issue. The solution seems to be making the comparison a >= rather than just a >.

asgn_sub.timemodified >= ag.timemodified

The idea here is that time the assignment was submitted is greater than the time it was last graded. That way, if a student submits an assignment again after it has been graded, it will show up as needing to be graded again. The two timestamps sho

[2017-01-25 00:23] jamesmcq commented on #17
Hi All - we've added this to our internal work list. I don't have a hard timeline but we expect to tackle it soon. Thanks for the report!

[2017-01-31 15:13] sulaganathan commented on #17
@jamesmcq  any luck on this?

[2017-02-01 07:52] jamesmcq commented on #17
@sulaganathan Currently scheduled for a developer to work on next week. Should everything go smoothly we'd be looking at release Feb 20th.

[2017-02-16 15:50] sulaganathan commented on #17
@jamesmcq  Might I anticipate newer version on Feb 20th. Please let me know if any delay on this

[2017-02-20 09:07] sulaganathan commented on #17
@jamesmcq  Has the version released? Please kindly let us know

[2017-02-22 05:52] jamesmcq commented on #17
@sulaganathan We do have a fix for this issue scheduled for release. We're a little behind but will have it available in the next few days.

[2017-02-27 22:20] wbuk commented on #17
Please can you let us know when, we are using the very latest version of Moodle and apply the weekly updates to ensure as bug free as possible.  Marking is a nightmare, we really need this to allow us to mark all the work easily,

[2017-03-01 06:45] jamesmcq commented on #17
Hi All, new versions for 2.7, 2.9, 3.0, and 3.1 are now available. Please let me know if this resolves your issues. @wbuk @sulaganathan @blakekidney

[2017-03-01 06:45] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear James McQuillan <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-03-01 09:15] sulaganathan commented on #17
@jamesmcq Thank You so much for the update,

You meant to say we should use this version for Moodle 3.1

https://github.com/remotelearner/moodle-block_grade_me/blob/MOODLE_31_STABLE/version.php

Please confirm?

[2017-03-01 09:15] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear sulaganathan <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-03-01 16:02] sulaganathan commented on #17
@jamesmcq  I don't see any new version with release date in recent days, I would request you to share the link of newer version.

[2017-03-01 19:19] jamesmcq commented on #17
@sulaganathan See https://github.com/remotelearner/moodle-block_grade_me/releases - the first two numbers of the version string correspond to the Moodle version you are using. For example, if you are using Moodle 3.1, choose "v3.1.0.3"

[2017-03-02 08:09] sulaganathan commented on #17
Thank you so much for the info.

[2017-03-07 15:47] nickvarney commented on #17
This new patch 'appears' to be intermittently working for us. Using the v3.1.0.3 version on Moodle 3.1.4.
Is the detection of new submissions instantaneous or run via the cron?

[2017-03-07 15:48] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear nickvarney <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-03-07 16:22] nickvarney commented on #17
Following my previous post, it's not intermittent, rather the Grade Me block works for an assignment only after we visit the (new style) grading screen for that assignment!?

So when viewing the grading screen URL ending `mod/assign/view.php?id=13247&rownum=0&action=grader&userid=1501` and return to the course front page the block springs to life and displays that the assignment needs grading.

[2017-03-09 07:52] sulaganathan commented on #17
@jamesmcq We are getting failures on test cases, we cant use this code unless all tests passed
[grade_me output.txt](https://github.com/remotelearner/moodle-block_grade_me/files/830109/grade_me.output.txt)
. Please look into the attached file and let us know the fixes.

You earlier response is much appreciated.

[2017-03-15 07:46] sulaganathan commented on #17
@jamesmcq Did you get a chance to look into test failure issue?

[2017-03-15 17:26] jamesmcq commented on #17
@sulaganathan Other than the unit tests, are you seeing any operational issues?

[2017-03-16 07:56] sulaganathan commented on #17
Our best practice doesn't allow to use test failures code, so we haven't get chances to check functional/operational yet.

[2017-03-18 11:29] wbuk commented on #17
Do we know when a new release version will be available with the fixes are the Versions Tab still says October last year.

[2017-03-20 04:38] jamesmcq commented on #17
@wbuk Are you looking here? https://github.com/remotelearner/moodle-block_grade_me/releases

[2017-03-23 13:34] haietza commented on #17
@nickvarney's comment above is what we are seeing as well - you have to visit each individual grading page for it to appear in the block.

[2017-03-23 13:34] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear haietza <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-03-24 05:15] sulaganathan commented on #17
@jamesmcq  Did you get a chance to check the test failures issue I had reported earlier? It would be great if you could provide us timeline for this fixes for this issue? I would appreciate your earlier responses here.

`https://github.com/remotelearner/moodle-block_grade_me/files/830109/grade_me.output.txt`

[2017-03-31 07:19] sulaganathan commented on #17
Hi @jamesmcq ,

Test failures are blocking us to release the grade me block to client, and the client are really waiting for the fixes for the issue, I am going to fix this test failures on my own and sent you the fixes back to you to incorporate on your future version.  Please advise me how you want me to share those fixes By normal php files/ Via github

[2017-03-31 08:28] nickvarney commented on #17
@sulaganathan Does your version fix the issue that I and @haietza reported above where you **have** to visit the grading page for the assignment in order for it to show in the block?

Did you also discover this as an issue in your testing?

[2017-03-31 08:28] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear nickvarney <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-03-31 11:03] sulaganathan commented on #17
@nickvarney , Yes am able to see this,

[2017-03-31 11:47] sulaganathan commented on #17
@jamesmcq,

There are two issue here

1. Test cases failures (Attached in earlier message)
2. Assignment not showing in grade me block, until instructor opens up new grade page.

I fixed both issues, Please let me know If I can take fork of this repository and share my code as pull request

Thanks,
Srini

[2017-04-03 17:55] jamesmcq commented on #17
Hi All, I've scheduled work to fix both the unit tests and the remaining issues with assignments not showing up.

@sulaganathan if you'd like to submit a pull request to this repository we'll be glad to review it for inclusion.

[2017-04-03 17:55] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear James McQuillan <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-04-03 18:13] sulaganathan commented on #17
@jamesmcq,

I have created pull request over here, please check and approve at the earliest,

https://github.com/remotelearner/moodle-block_grade_me/pull/18

[2017-04-06 21:37] cstones opened #19 "Behat Test Failures ?"
Are you seeing these behat test failures?

I mean is the cron not throwing any exceptions when you run behat?
line 81 of /admin/cron.php: call to cron_run() (Exception)

?

 RUN  Behat features for block_grade_me
Moodle 3.1.3 (Build: 20161114), bf4242cb7ff6527ca8ddae9dc937a8a494a4ddc6
Php: 7.1.0.5.1, mysqli: 5.7.16-0ubuntu0.16.04.1, OS: Linux 4.4.0-51-generic x86_64
Server OS "Linux", Browser: "ch

[2017-04-06 21:41] #19 closed

[2017-04-19 07:16] gemguardian commented on #17
Hello,
I am facing similar issues as mentioned here. I just wonder when we can expect the pull request being reviewed and with that a new version.

Looking forward to your answer

Gemma

[2017-04-19 07:16] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear gemguardian <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-04-20 17:56] steve-buss commented on #17
We are finding that clicking the red check mark in front of student's name for a submitted assignment in the Grade Me block takes the user to the old assignment interface without the PDF preview. We are using Moodlerooms 3.1 Maintenance Pack 2.

On our site, click the red check mark in front of the user name for a submitted assignment takes the user to:
http://centralcc2.mrooms.net/mod/assign/view

[2017-04-20 17:56] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear steve-buss <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-04-27 16:22] steve-buss opened #20 "Clicking on red check mark in Grade Me block does not take user to current assignment grading screen"
(Sorry for the additional post - this seems like it should be posted as a new issue)

We are finding that clicking the red check mark in front of student's name for a submitted assignment in the Grade Me block takes the user to the old assignment interface without the PDF preview. We are using Moodlerooms 3.1 Maintenance Pack 2.

On our site, clicking
![capture](https://cloud.githubusercontent.com

[2017-05-03 19:58] gemguardian commented on #17
@jamesmcq  I am just wondering if you had time to look at the pull request of sulaganathan.

Since I am facing similar issues as mentioned above and my technical team rather waits for you to fix it, then go on their own. :(

It would be greatly appreciated if you can give a time frame on when you expect a new release with the fixes?

[2017-05-03 19:58] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear gemguardian <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-05-04 19:55] Erika06 commented on #17
I experienced that issue and change the last line to:

 AND (ag.grade IS NULL OR asgn_sub.timemodified >= ag.timemodified)";

Why the original code compares     "ag.id IS NULL" ?
The IDs never are null

[2017-05-04 19:56] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear Erika06 <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-05-04 20:02] sulaganathan commented on #17
@Erika06  ID null means there would be zero entry on grade table, which means this is not yet graded.

[2017-05-04 20:02] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear sulaganathan <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-05-04 20:10] jamesmcq commented on #17
Hi All - don't worry, we haven't forgotten you!

[2017-05-04 20:11] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear James McQuillan <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-05-17 16:16] jamesmcq commented on #17
@sulaganathan Thanks for submitting this, the change has been released. See my comment in your pull request.

[2017-05-17 16:16] #17 closed

[2017-05-24 19:25] jamesmcq commented on #20
@steve-buss Unfamiliar with what is in Moodlerooms - what version of the plugin do you have?

[2017-05-24 20:37] steve-buss commented on #20
The version on our Moodlerooms site is 2016052303.

[2017-06-06 10:21] gemguardian commented on #17
@jamesmcq I am wondering - and maybe I am just miss it - is it correct that the change did not get released towards Moodle.org ?

Thank you

Gemma

[2017-06-06 10:21] wbuk commented on #17
This is an automated reply to your message "Re: [remotelearner/moodle-block_grade_me] Assignment not showing in
 Grade me block (#17)" sent to sales@webbuster.co.uk.

Dear gemguardian <notifications@github.com>

Thank you for contacting Web Buster UK Ltd, we will be in touch with you shortly.

[2017-06-30 13:15] tquenan opened #21 "Cron task error when using Oracle DB"
The following query from the lib.php produces a "missing keyword" error when running against an Oracle database, because 'user' is a reserved word in Oracle.

[code]

Would suggest changing the 'user' reference to just 'u' or 'usr' to avoid the issue.

[2017-09-12 20:07] talon77 opened #22 "List ignores clicked-on users"
Grade Me Version 3.1.0.2 running on Moodle 3.3.1

When you click on a student under grade me to mark an assignment or quiz and don't, the list does not rebuild during the cron.php job indicating student still requires marking. But if you go into the assignment or quiz itself it still shows under requires grading.

This is a much loved block that teachers really like. It would be great if this issu

[2018-02-08 21:46] MC1171611 opened #23 "Support for Moodle 3.3/3.4"
Please forgive my forwardness, and my complete lack of understanding of the usage of GitHub, but I would like to reach out to the developers and ask if there's a plan to support Moodle 3.3 or 3.4 anytime soon. Grade Me was recommended to me by a project manager for an industrial Moodle application, and although my deployment is miniscule in comparison, I'm hoping to be able to use this plugin with

[2018-02-09 13:08] jamesmcq commented on #23
Hi @MC1171611 - Moodle 3.3 and 3.4 versions are now available in the MOODLE_33_STABLE and MOODLE_34_STABLE branches. Thanks!

[2018-02-09 13:08] #23 closed

[2018-03-13 16:15] s-cenni commented on #21
I'm using Oracle and, without this fix, the {block_grade_me} table was empty and the block didn't show anything. Now it seems to work :)
Thank you @tquenan !

[2018-03-29 20:53] jamesmcq commented on #21
Thanks @tquenan - I've scheduled this internally so stay tuned. Appreciate the PR!

[2018-06-15 05:53] emyb opened #25 "Quizzes with the same timesubmitted (timemodified) aren't being displayed"
Version: 2015060411
Release: 2.9.0.8

When a learner has a quiz that requires grading this appears on the block ok.
When multiple learners have attempts for the same quiz that require grading this appears ok.
When someone bulk modifies multiple learner quiz attempts (i.e. bulk regrades attempts) the last quiz attempt for that time the quiz attempt was modified is displayed in the grade me block.

[2018-06-15 06:01] emyb commented on #25
https://github.com/emyb/moodle-block_grade_me/commit/44943d0e198c098445ac6a8589fdb682f8a519b5

[2018-06-17 22:23] emyb commented on #25
https://github.com/emyb/moodle-block_grade_me/commit/c643670ec1b13fbfdf1b1ba8b566dc7ca3327202

[2018-07-26 23:58] emyb commented on #25
@jamesmcq - Is there any possibility to get eyes on this?

[2018-09-10 01:46] danahsm opened #27 "Submitted Date on Grade Me bLock"
Moodle version 3.3.2, latest grade me version.

We have noticed for quite some time, that the date attached to the Assessment on the grade me block will change as soon as the marker starts to grade the assessment. For example, a student submits an assessment on the 17th August and this date is displayed under the assessment on the grade me block, the trainer then views the assessment and grades a

[2018-09-12 18:53] azito122 opened #28 "Abnormally (and problematically) large number of database queries"
We noticed that the bin logs on our Moodle install had started growing at an increased rate since our last maintenance (when we installed the Grade Me block). The logs were becoming problematically large, and when we grepped the strings available in a 1 GB bin log file, we found the following:

_______________________________________________________________________
A total of 2097733 mentions of '

[2018-10-04 10:38] irith opened #29 "Block grade me does"t work with moodle 3.5"
Hi
I upgraded my moodle to 3.5 and I have  many academic courses with many assignments and the grade me doesn"t show anything/
irith

[2019-01-15 01:41] scottmacpherson commented on #21
This also affects users on PostgreSQL. Can confirm that making the changes proposed by @tquenan will resolve this bug for these users.

[2019-05-17 16:28] morten44 commented on #13
Hi. I am using this plugin in Moodle 3.6. Its great
I have the same problem through
Have a course that 3 groups are taking
Teacher in one group sees submissions for all groups
Would be great if he only have to worry about grading for his own group
Any prospects of making this an option?
Thanks
Morten

[2019-07-16 01:37] troywilliams opened #32 "Assignment submission link directs to incorrect user"
The useridlistid loads incorrect user.
[code]
The following solves issue.
[code]

[2019-09-05 08:18] nghongphuong94 commented on #29
I encoutered the same issue on both Moodle 3.5 and 3.7.

[2019-09-16 13:11] tbahula commented on #13
I'm seeing the same thing on Moodle 3.5 with GradeMe 2018051702. Any help would be appreciated.

[2019-09-19 05:19] matturn commented on #13
I'm seeing the same thing on Moodle 3.6 with Grade Me 2018120300 (latest in Github) and 2017111303 (latest in Moodle plugins directory).

The Moodle directory description says "The block is configured to work with groups that is, teachers will only see the assignments submitted by students if they are both members of the same group. You'll have to let me know if it works with courses that don't us

[2019-09-21 11:41] morten44 commented on #13
Hi
I have started a thread on moodle.org regarding this
https://moodle.org/mod/forum/discuss.php?d=391151

Might give some hint. As we dont work with assignment deadline, for us i think we have to configure teacher ONLY to see the group he is working with. I have not had time to look into it but good that you have a chance to follow it as well

Regards
Morten

[2019-11-24 11:58] bufedwards opened #34 "Testing-Version 3.8-API secret missing"
When testing the block on Moodle 3.8, when I click the assignment name to go to the grading section from the plugin I receive the following error message:  "Coding error detected, it must be fixed by a programmer: API Secret not set!"  I have never seen this error before.
![grademe_error](https://user-images.githubusercontent.com/31312698/69494289-d67b4c80-0e87-11ea-9d28-a4b36d689f3c.png)

[2019-11-24 12:02] ghost commented on #34
Update:  My apologies.  It appears that the issue is with the Assignment module and not the grade me block.

[2019-11-24 12:02] #34 closed

[2020-01-02 18:04] dipakburnwal opened #35 "With 3.7 - GradeMe Block not working"
Hi,
Thanks in advance.

I just got an issue where if I logged in via admin I can grade assignments or in other words if I click on grade me then I am seeing submitted assignment. but if I logged in with a user who has a role of "Advisor All Access, Advisor" then clicking on grade me button is not displaying assignment submitted by students.
Really appreciate if you could have a look at this issue.

[2020-01-15 21:44] nstefanski commented on #14
We experienced an issue using the Grade Me block with Postgres. We were able to resolve it by changing an alias for the `user` table used in a DB query. I've made a pull request for our patch: https://github.com/remotelearner/moodle-block_grade_me/pull/31

[2020-02-26 04:45] yuliiaborysova opened #36 "Moodle 3.7.3 assign using Marker Allocation"
Hi there!

Can this block be used for mod/assign, which are using Marking Allocation and Marking Workflows. I am testing this plugin at the moment and would like to know if this plugin right for us.

[2020-04-22 08:42] steveradford opened #37 "Groups not working in 3.8"
I have this block on teachers dashboard pages. We have courses with multiple teachers and students, where students are separated into groups and teachers are only a member of one group, however the block is still shows each teacher all assignments that need grading for all students in all groups, not just their own. All assignments have been set-up with Group mode = Separate groups. Grouping in al

[2020-04-26 13:31] #32 closed

[2020-05-26 00:44] jprovasnik opened #38 "Updated Image for Plugin Directory"
A fellow Moodler created an excellent  [image of the GradeMe block] (https://moodle.org/mod/forum/discuss.php?d=403956#p1630479) that would be a perfect replacement for the dated image currently in the [Plugin Directory](https://moodle.org/plugins/block_grade_me) is in need of an update.

![examplegrademe](https://user-images.githubusercontent.com/44345287/82849919-2b942b80-9ec8-11ea-8590-919de937

[2020-07-02 18:49] mjfagioli commented on #20
We are new users of GradeMe and enjoying what it adds for our instructors!

This is still an issue. We are on 3.7 with the newest version of the plugin installed. Since I see Moodlerooms mentioned, I will add that we used to host with Moodlerooms and now are with eThink. I discovered that the issue seems to be in the URL. Perhaps there is an easy fix for this. The red check mark in the block takes

[2020-07-02 18:55] mjfagioli opened #39 "Adding Assignment Due Dates to the Block"
This is an idea for a feature request. We had an instructor suggest it, and I thought it was worth asking about. I can see the utility in it.

Have you considered adding the assignment due date to the block? It wouldn't take up too much real estate, so I can see it implemented in a way that keeps the block simple and clean. Feel free to close this out if you've already decided this is something yo

[2020-07-28 06:36] CLCcourses opened #41 "Grade Me not showing any assignments for marking Moodle 3.7 and 3.8"

[2020-07-28 06:47] #41 closed

[2020-08-31 19:34] csriveraine opened #44 "Error to view and write to the database"
Hello i got some problem with the plugin
My environnement :
Moodle 3.8.4 +
Plugin grade_me 3.8.0.0
MSSQL / IIS / PHP 7.4.7

My problem is when the schedule task running i got an error :
_Execute scheduled task: Activités à noter (block_grade_me\task\cache_grade_data)
... started 15:22:02. Current memory use 19.7Mo.
... used 8 dbqueries
... used 0.027261018753052 seconds
Scheduled task failed: Acti

[2020-11-09 23:31] klovsb commented on #44
I have same problem in our environment:
Moodle 3.8.5
Grade_me 3.8.0.0
MSSQL / IIS / PHP 7.2
Error message indicate Incorrect syntax near the keyword 'user'.  I applied the code modification for PostgreSQL and found that it worked on MS SQL.

[2020-12-04 13:08] trainyoucan opened #45 "Moodle 3.10 issue after update"
PHP 7.4
Moodle 3.10
Grade Me 3.9

-Student submit Assignment.
-With Grading, the Teacher submit feedback, but do not Grade the learner anything.

At this stage the Assignment still shows "waiting for grading" (Before reverting to draft to allow for a re-submission.)

The Grade Me for the Assignment does not appear on the Grade Me block anymore.

[2021-01-13 15:24] crs1998 commented on #37
I also have on my teachers pages and need to separate by group.
Moodle 3.9 Block 3.9

[2021-03-16 15:56] hr-curtissimo opened #46 "Error to view and write to the database Moodle 3.9.5+ (Build: 20210312)"
**Environment**:
* Moodle 3.9.5+ (Build: 20210312)
* PostgreSQL 11.10 (Debian 11.10-0+deb10u1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit
* Additional plugins (all installed from Moodle Plugins directory, except where noted)
  * Edumy theme (installed manually)
  * Restriction by relative date
  * Restriction by course completion
  * Level up!
  * Grade Me
  * Custom ce

[2021-04-08 02:50] ghost commented on #21
This issue is resolved in the latest releases v3.5.0.4, v3.7.0.2, and v3.9.0.2

[2021-04-08 02:50] #21 closed

[2021-05-20 12:15] sicbe opened #47 "Too many older courses in the block on main page"
If there a way to hide courses? Or only show current courses?

If I add the block on the main starting page; I'll get courses from years ago which still have some remaining assignements. I would love to see only the current courses that I want to see. Maybe even hide courses I don't want to see, like you can with the "eye" on the main page of Moodle.

[2021-05-21 12:54] jprovasnik commented on #47
A 'setting' might be a nice approach. We definitely want old courses to appear in our block because that means (in our school*) that the teacher missed grading it, so we rely on all courses appearing in the block, even if they are hidden.
*We don't really have 'deadlines' so as long as something is submitted, it gets a grade.

[2021-07-06 20:09] timbahula-horizon opened #48 "FEATURE REQUEST: Support Whole forum grading in Grade Me block"
Since Moodle 3.8, teachers have had the ability to grade a student's forum participation as a whole. {See https://docs.moodle.org/38/en/Using_Forum#Forum_grading}

The current version of the Grade Me block (3.9.0.2 (2020061502)) does not indicate when there are forums that require whole forum grading. This feature would be a significant benefit to teachers as whole forum grading greatly simplifies

[2021-07-09 23:52] dewray opened #49 "Font size in block too large Moodle 3.11+"
After _a_ recent update (either of Grade Me or to a new Moodle 3.11+ weekly build) the font sizes of the course name and assignment name have become larger (and bold, perhaps), which causes more courses and assignments to display below the current screen: at present, only five assignments are visible on a Chrome screen with zoom set at 80% on a 27-inch monitor, whereas two weeks or so ago 9 or 10

[2021-08-20 07:45] davefoord opened #50 "Grade me plugin not working with Moodle Workplace and multi-tenancies"
I have just worked out that if using Moodle Workplace, that is set up with multi-tenancies, then this plugin stops working.

The tutor will only see items related to individuals that are in the same tenancy as themselves, even though they can see all the assignments within the course, and grade all the assignments within the course, for people in a different tenancy to themselves.

The plugin work

[2021-09-16 19:58] ghost commented on #37
This is not working in 3.11 either. This makes it impossible to use in any site where courses use instructor based groups.

[2021-09-29 17:17] cmartinb76 opened #52 "I can't install last version con Moodle 3.10.4"
I'm having trouble installing the last version ot this plugin (2021051700) on a Moodle 3.10.4
Our Moodle is running on a debian 10.10. We use docker for this Moodle.
Our DB is MariaDB 10.4.13

I have tryed the installation in the regular way from UI and here I have two options:
1. If I download the zip and upload it to the server (which is one of the ways as I was trying last week) then a validati

[2021-10-28 23:12] salvo32a commented on #37
We have just installed the Grade Me block and it works well except that the grouping is not working and teachers are complaining that they are seeing assignments from all students instead of just those in their group. Is there a fix for this or something I can try?

[2021-11-14 08:24] golenkovm commented on #14
Hi all,

This issue is happening to me too. I was able to figure out the cause. @nstefanski was close assuming that this is related to sorting.

Due to same `itemsortorder`, quiz attempt 4 overrides attempt 2 here: https://github.com/remotelearner/moodle-block_grade_me/blob/MOODLE_39_STABLE/block_grade_me.php#L125

Thus, `$gradeables` has only that attempt which goes last in the query https://gith

[2021-11-14 08:28] golenkovm commented on #14
Hi @logan-reynolds

Could you please have a look at the PR once you have a chance?

Kind regards,
Mikhail

[2021-11-14 08:38] golenkovm opened #54 "Add GDPR support"
As of 3.5 Moodle requires GDPR support to be implemented for all installed plugins. See https://docs.moodle.org/311/en/GDPR

[2022-02-25 09:28] mifantrax opened #56 "Multilang V2 Integration"
Would it be possible to add multilang v2 support? https://moodle.org/plugins/filter_multilang2/versions

<img width="173" alt="2022-02-25 10_26_30-Course_ OL 609 Servant Leadership - Rick Justice (online - 2022)" src="https://user-images.githubusercontent.com/2910506/155690420-553db317-9d1d-45f6-a26b-df3583c195a1.png">

[2022-05-13 22:29] blentz100 commented on #50
We are having the same exact issue. Was wondering if there has been any update on this item?

[2022-06-06 12:18] outsei2 opened #57 "block_grade_me_cache_data causes duplicate instances and huge number of database operations"
block_grade_me_cache_data was taking quite a long time to run and causing a huge number of database operations. In our server with thousands of courses the result was this:

737589 reads,
120516 writes,
4 min 34 sec

The number was exactly the same compared to reset_block script so it seems that the block_grade_me_cache_data script does not just update the new information into cache but is doing t

[2022-06-17 18:47] acquaalta opened #59 "Feature request - Clicking the student's name would lead to his submission and not to his profile"
Hi,
Currently (Version 3.11.0.2 of the plugin), When the teacher clicks on the student name, the profile page of the student is shown.
Only when clicking the "V" sign besides the name, the student's submission is shown.
UX-wise, I think it's better to show the submission when clicking the student's name, or at least create a plugin setting for it and let the administrator decide about the expected

[2022-07-28 08:37] gemguardian commented on #59
@acquaalta It is about removing row 222 and 225 in the lib.php

I put in a pull request for 3.9 (https://github.com/remotelearner/moodle-block_grade_me/pull/60)
3.11 https://github.com/remotelearner/moodle-block_grade_me/pull/61
and 4.0 https://github.com/remotelearner/moodle-block_grade_me/pull/62

[2022-07-28 13:06] drachels commented on #59
Question...in the rest of Moodle anytime I click on a user name, I go to their profile. Why would you want to change that behavior for this plugin and make it different from all the rest? Also, it is a checkmark, not a "v".

[2022-07-28 13:16] gemguardian commented on #59
@drachels

We got the request to remove the profile link for the following reason:

The users that where grading got confused, they though when they clicked on thename they go to the grading page instead of the profile. This is why I have removed the url to the profile page, I have considered to just change the link to the grading page.

As well to be honest - why would you navigate to a profile p

[2022-07-28 13:20] drachels commented on #59
Sounds reasonable, and I freely admit, I have clicked the name on more than one occasion. I know that in many plugins it is pretty obvious that the name is going to go to the profile, but the way the GradeMe block looks it is always tempting to click the name.

[2022-07-28 13:22] gemguardian commented on #59
I am waiting the response if it makes sense to hyperlink the name as well to the graded assignement, it's just a small adjustment in the provided patch. But at the moment they said that the "V" mark is clear enough to click.

[2022-08-24 17:10] acquaalta commented on #59
Hi @gemguardian,
Thanks for your help. I have a question:
I looked at your pull request. It seems that you removed the link (<a> tag) from the name of the student(s). How does make the name a link to the grading page of that student? I'm missing something.

[2022-08-25 08:46] gemguardian commented on #59
@acquaalta sorry for the confusing, my teachers though it was clear enough if the name was not clickable just the V mark.

They just bumped into the confusion that it went to the profile page. But the adjustment for clickable name to grading is not that difficult, though I don't see any movement in the pull request that are being done, so I don't bother right now on changing anything.